@media (max-width: 1187px) {
    .contain{
        display: none;
        
    }
    .mobile-nav{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 16px;
    }
    .bi-list{
        color: black;
        font-size: 24px;
    }
    .nav-col{
        display: flex;
        position: fixed;
        height: 100vh;
        width: 30%;
        left: 0px;
        text-align: start;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    ul{
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: ;
        justify-content: flex-start;
        font-size: 16px;
    }

  }
  
