@media (max-width: 1187px) {
    .contain{
        display: none;
        
    }
    .mobile-nav{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 16px;
    }
    .bi-list{
        color: black;
        font-size: 24px;
    }

  }
  
