body{
    width: 100%;
    overflow-x: hidden;
}
.contain{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-col{
    width: 70%;
}
.navbar-nav-lg{
    width: 80%;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.navbar-nav:nth-child(n){
    width: 100%;
    margin: 8px;
}
.nav-item{
    list-style: none;
}
.mobile-nav, .mobile{
    display: none;
}
#hero{
    width: 100%;
}
.l-a{
    color: white;
    text-decoration: none;
}